.sbtci-box {
  border: 1px solid $gray;
  border-radius: $radius;

  &-heading {
    background-color: $tf-blue;
    border: 1px solid $tf-blue;
    border-radius: 4px 4px 0 0;
    color: #ffffff;
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
    margin: -1px -1px 0 -1px;
    padding: 8px 0;
    text-align: center;
  }

  &-text {
    margin: 0;
    padding: 1rem;
  }

  &-footer {
    border-top: 1px solid $gray;
    color: $tf-blue;
    display: block;
    font-size: 0.8rem;
    margin: 0;
    padding: 6px 0;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;

    &:active,
    &:hover {
      color: $sbtci-blue;
      text-decoration: underline;
    }

    &:visited {
      color: $tf-blue;
    }
  }
}
