.sbtci-contribute {
  &-header {
    align-items: center;
    background-color: $tf-blue;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 200px;
    width: 100%;

    @include print-only {
      background-color: #ffffff;
      height: 6rem;
    }

    h1 {
      background-color: rgba(0, 0, 0, 0.5);
      color: #ffffff;
      display: block;
      font-family: 'Oswald', sans-serif;
      font-size: 3rem;
      font-weight: 400;
      margin: 0;
      padding: 1rem 1.6rem;
      text-align: center;

      @include mobile-only {
        font-size: 2rem;
      }

      @include print-only {
        color: #000000;
      }
    }
  }

  &-text {
    margin: 1rem auto 2rem;
    max-width: 600px;
  }

  &-form iframe {
    min-height: 350px;
  }
}