.sbtci-footer {
  background-color: #eeeeee;
  color: #666666;
  padding: 2rem 0;
  
  @include tablet-up {
    .container {
      display: grid;
      grid-template: auto / 1fr 1fr;
    }
  }

  &-info,
  &-links {
    grid-column: span 1;
    grid-row: span 1;
  }
}