.sbtci-footer {
  background-color: #eeeeee;
  color: #666666;
  
  &-info {
    display: grid;
    grid-template: auto / 1fr 1fr;
    padding: 2rem 0;
  
    @include mobile-only {
      display: block;
      padding: 0 1rem;
    }
  }

  &-contact,
  &-about {
    grid-column: span 1;
    grid-row: span 1;

    @include mobile-only {
      margin-bottom: 1rem;
    }

    a {
      color: $tf-blue;
      text-decoration: none;

      &:active,
      &:visited {
        color: $tf-blue;
      }

      &:hover {
        color: $sbtci-blue;
      } 
    }
  }

  &-links {
    background-color: #dddddd;
    font-size: 0.8rem;
    margin-top: 1rem;
  
    ul {
      list-style: none;
      margin: 0 auto;
      padding: 1rem;
      text-align: center;
    }

    li {
      display: inline-block;
      padding: 0 0.5rem 0 0;

      &::after {
        content: "|";
        margin-left: 0.5rem;
      }

      &:last-child {
        &::after {
          content: "";
          margin-left: 0;
        }
      }
    }

    a {
      color: #666666;
      text-decoration: none;
    }
  }
}