.sbtci-footer {
  background-color: #eeeeee;
  color: #666666;
  padding: 2rem 0;
  
  .container {
    display: grid;
    grid-template: auto / 1fr 1fr;
  }
  @include mobile-only {
    .container {
      display: block;
    }
  }

  &-info,
  &-links {
    grid-column: span 1;
    grid-row: span 1;

    @include mobile-only {
      margin-bottom: 1rem;
    }

    a {
      color: $tf-blue;
      text-decoration: none;

      &:active,
      &:visited {
        color: $tf-blue;
      }

      &:hover {
        color: $sbtci-blue;
      } 
    }
  }
}