.sbtci-header {
  background-color: $tf-blue;

  &-container {
    align-items: end;
    display: block;
    position: relative;

    @include tablet-up {
      display: grid;
      grid-template: auto 70px / 1fr 1fr;
    }

    @include print-only {
      background-color: $tf-blue !important;
      -webkit-print-color-adjust: exact;
      grid-template: 160px / auto;
    }
  }

  &-logo {
    display: none;

    @include tablet-up {
      display: grid;
      grid-column: 1 / 2;
      grid-row: 1 / 3;
      grid-template: 160px / auto;

      img {
        align-self: end;
        max-height: 130px;
        width: 100%;
      }
    }

    @include print-only {
      display: grid;
      grid-column: span 1;
      grid-row: span 1;
      height: 160px;
      margin: 0 auto;

      img {
        align-self: end;
        max-height: 130px;
        width: 100%;
      }
    }
  }

  &-social {
    display: none;

    @include tablet-up {
      align-items: center;
      display: flex;
      flex-wrap: nowrap;
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      justify-content: flex-end;
      text-align: right;

      &-icon {
        display: block;
        padding: 0 10px;
      }

      svg {
        width: 24px;
      }
    }

    @include print-only {
      display: none;
    }
  }

  &-nav {
    @include mobile-only {
      display: none;
    }

    @include tablet-up {
      display: block;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      justify-items: end;
      text-align: right;
    }

    @include print-only {
      display: none;
    }
  }

  // mobile navigation
  @include mobile-only {
    &-menu {
      align-items: center;
      color: #ffffff;
      display: flex;
      font-size: 1rem;
      font-weight: 700;
      justify-content: space-between;
      padding: 1rem 0;
      text-align: right;
    }

    &-mobile-title {
      color: #ffffff;
      display: block;
      text-align: left;
      text-decoration: none;
    }

    &-mobile-menu-toggle {
      border: 1px solid #ffffff;
      border-radius: $radius;
      display: block;
      padding: 0.5rem;
    }

    &-nav-link {
      background-color: #f6f6f6;
      border-top: 1px solid $light-gray;
      color: #333333;
      display: block;
      padding: 0.8rem 1rem 0.8rem 1.5rem;
      text-decoration: none;
    }

    &-rankings-nav,
    &-states-nav {
      display: none;
    }
  }

  &-mobile-nav {
    background-color: #ffffff;
    display: none;
    z-index: 1000;
    
    @include mobile-only {
      display: block;
      height: 100vh;
      position: fixed;
      overflow-y: scroll;
      transition: left 250ms ease-in-out;
      top: 0;
      width: 100vw;

      &--inactive {
        left: -100vw;
      }

      &--active {
        left: 0;
      }
    }

    &-top-bar {
      background-color: $tf-blue;
      color: #ffffff;
      font-size: 1.2rem;
      font-weight: 700;
      padding: 1rem;
      text-align: right;
    }

    &-top-level-item {
      border-bottom: 1px solid $light-gray;
    }

    &-top-link {
      color: #333333;
      display: block;
      font-size: 1.2rem;
      padding: 0.8rem 1rem;
      text-decoration: none;

      &:active,
      &:hover,
      &:visited {
        color: #333333;
      }
    }

    &-rankings,
    &-states {
      display: block;
      overflow: hidden;
      transition: max-height 200ms ease-in-out;

      &--inactive {
        max-height: 0;
      }
    }

    &-rankings--active {
      max-height: 45rem;
    }

    &-states--active {
      max-height: 150rem;
    }
  }

  // desktop navigation
  @include tablet-up {
    &-menu {
      display: none;
    }

    &-nav-category,
    &-nav-link {
      display: inline-block;
      padding: 24px 10px 20px;
      text-decoration: none;

      &:hover > .sbtci-header-rankings-nav {
        display: flex;
      }

      &:hover > .sbtci-header-states-nav {
        display: block;
      }
    }

    &-nav-category {
      color: #ffffff;
      text-transform: uppercase;

      &:active,
      &:hover {
        background-color: $sbtci-blue;
      }
    }

    &-nav-link {
      text-transform: none;
    }

    &-rankings-nav,
    &-states-nav {
      align-items: center;
      background-color: #ffffff;
      box-shadow: 0 2px 2px $dark-gray;
      display: none;
      justify-content: space-around;
      padding: 0.5rem;
      position: absolute;
      right: 0%;
      top: 100%;
      width: 100%;


      a {
        color: $tf-blue;
        display: block;
        padding: 0.5rem;
        text-align: left;
        text-decoration: none;

        &:hover {
          color: $sbtci-blue;
        }
      }
    }

    &-states-nav {
      column-count: 5;
      column-gap: 1rem;

      a {
        display: inline-block;
        width: calc(100% - 1rem);
      }
    }
  }

  @include print-only {
    &-menu,
    nav {
      display: none;
    }
  }
}
