.sbtci-home {
  &-map-section {
    @include tablet-up {
      display: grid;
      grid-gap: 1rem;
      grid-template: 2fr 1fr / 3fr 1fr;
    }

    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  &-map {
    @include tablet-up {
      grid-column: span 1;
      grid-row: span 2;
    }
  }

  &-data-summary,
  &-social {
    @include tablet-up {
      grid-column: 2 /3;
      grid-row: span 1;
    }

    &-text {
      padding: 1rem;
      text-align: center;
    }

    &-buttons {
      display: flex;
      flex-direction: row;
      margin: 0 -1px -1px;
    }

    &-button {
      color: #ffffff;
      display: block;
      flex: 1 0 auto;
      text-align: center;
      text-decoration: none;

      svg {
        padding: 12px;
        width: 20px;
      }

      &:active,
      &:hover,
      &:visited {
        color: #ffffff;
      }

      &:first-of-type {
        border-radius: 0 0 0 $radius;
      }

      &:last-of-type {
        border-radius: 0 0 $radius 0;
      }
    }
  }
}
