.sbtci-home {
  &-header {
    align-items: center;
    background-color: $tf-blue;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 128px;
    width: 100%;

    @include print-only {
      background-color: #ffffff;
      height: 6rem;
    }

    h1 {
      background-color: rgba(0, 0, 0, 0.5);
      color: #ffffff;
      display: block;
      font-family: 'Oswald', sans-serif;
      font-size: 3rem;
      font-weight: 400;
      margin: 0;
      padding: 1rem 1.6rem;
      text-align: center;

      @include mobile-only {
        font-size: 2rem;
      }

      @include print-only {
        color: #000000;
      }
    }
  }

  &-tax-nav {
    display: none;

    @include tablet-up {
      display: flex;
      flex-wrap: nowrap;
    }
  }

  &-tax-nav-item {
    @include tablet-up {
      border-left: 1px solid $gray;
      color: #666666;
      flex: 1 0 auto;
      padding: 1rem;
      text-align: center;
      text-decoration: none;

      &:last-child {
        border-right: 1px solid $gray;
      }

      &:active,
      &:focus,
      &:hover {
        background-color: rgba($sbtci-blue, 0.3);
        color: $dark-gray;
      }
    }
  }

  &-map-section {
    @include mobile-only {
      & > * {
        margin-bottom: 1rem;
      }
    }

    @include tablet-up {
      display: grid;
      grid-gap: 1rem;
      grid-template: auto 220px / 3fr 1fr;
    }

    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  &-map {
    @include tablet-up {
      grid-column: span 1;
      grid-row: 1 / 3;
    }

    &-legend {
      align-items: stretch;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      min-height: 2rem;

      > div {
        flex: 1 1 auto;
      }
    }
  }

  &-data-summary,
  &-social {
    @include tablet-up {
      grid-column: 2 / 3;
      grid-row: span 1;
    }

    &-text {
      padding: 1rem;
      text-align: center;
    }

    &-buttons {
      display: flex;
      flex-direction: row;
      margin: 0 -1px -1px;
    }

    &-button {
      color: #ffffff;
      display: block;
      flex: 1 0 auto;
      text-align: center;
      text-decoration: none;

      svg {
        margin: 12px;
        width: 20px;
      }

      &:active,
      &:hover,
      &:visited {
        color: #ffffff;
      }

      &:first-child {
        border-radius: 0 0 0 $radius;
      }

      &:last-child {
        border-radius: 0 0 $radius 0;
      }
    }

    @include print-only {
      display: none;
    }
  }

  &-social {
    display: flex;
    flex-direction: column;

    &-text {
      flex: 1 0 auto;
    }
  }

  &-data-summary {
    display: none;

    @include tablet-up {
      align-items: stretch;
      display: grid;
      grid-template: 36px 255px / auto;
    }

    &-table {
      font-size: 0.9rem;
      line-height: 1.6;
      margin: auto;
      width: 100%;
    }

    &-tax::before {
      content: "";
      display: inline-block;
      height: 1rem;
      margin-bottom: -2px;
      margin-right: 0.4rem;
      width: 3px;
    }
  }

  &-rankings-table,
  &-categories {
    margin-bottom: 2rem;
    padding-top: 1rem;
  }

  &-tax-type {
    margin-bottom: 4rem;
    page-break-inside: avoid;  

    &-icon {
      float: left;
      margin-right: 2rem;
      width: 135px;

      @include mobile-only {
        display: block;
        float: none;
        margin: 0 auto;
        width: 65%;
      }
    }
  }

  &-notable-changes {
    margin-bottom: 2rem;

    @include tablet-up {
      display: grid;
      grid-column-gap: 2rem;
      grid-template-columns: 1fr 1fr;
    }
  }

  &-notable-change {
    a {
      color: #333333;
      text-decoration: none;
    }

    @include tablet-up {
      grid-column: span 1;
      grid-row: span 1;
    }
  }

  &-mobile-state-list {
    display: none;

    @include mobile-only {
      display: block;
    }
  }
}
