.sbtci-social {
  &--twitter {
    background-color: $twitter;
    border: 1px solid $twitter;
  }

  &--facebook {
    background-color: $facebook;
    border: 1px solid $facebook;
    cursor: pointer;
  }

  &--linkedin {
    background-color: $linkedin;
    border: 1px solid $linkedin;
  }

  &--email {
    background-color: $email;
    border: 1px solid $email;
  }
}
