.sbtci-state {
  &-header {
    align-items: center;
    background-color: $tf-blue;
    display: flex;
    justify-content: center;
    height: 120px;
    margin-bottom: 2rem;
    width: 100%;


    h1 {
      color: #ffffff;
      display: block;
      font-family: 'Oswald', sans-serif;
      font-size: 3rem;
      font-weight: 400;
      margin: 0;
    }

    &-rank {
      font-weight: 300;
    }
  }

  &-content {
    @include tablet-up {
      display: grid;
      grid-gap: 1rem;
      grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    }
  }

  &-table {
    @include tablet-up {
      grid-column: span 3;
      grid-row: span 1;
    }
  }

  &-social {
    @include tablet-up {
      grid-column: span 1;
      grid-row: span 1;
    }

    &-text {
      padding: 1rem;
      text-align: center;
    }

    &-button {
      color: #ffffff;
      display: flex;
      margin: 0 -1px;
      padding: 0.5rem;
      text-decoration: none;

      svg {
        height: 20px;
        margin-right: 10px;
        width: 20px;
      }

      &:last-of-type {
        border: none;
        border-radius: 0 0 $radius $radius;
        margin-bottom: -1px;
      }

      &:active,
      &:hover,
      &:visited {
        color: #ffffff;
      }
    }
  }

  &-neighbors {
    @include tablet-up {
      grid-column: span 2;
      grid-row: span 1;
    }

    align-items: center;
    display: grid;
    grid-template: 40px 1fr 30px / 1fr;
  }

  &-bottom,
  &-top {
    @include tablet-up {
      grid-column: span 1;
      grid-row: span 1;
    }

    align-items: center;
    display: grid;
    grid-template: 40px 1fr 30px / 1fr;
  }
}
