.sbtci-table {
  border-collapse: collapse;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;

  td,
  th {
    border: 1px solid $gray;
    padding: 10px 6px;

    &:first-of-type {
      border-left: none;
    }

    &:last-of-type {
      border-right: none;
    }
  }

  th {
    border-top: none;
    text-align: center;
  }

  td {
    display: table-cell;
    text-align: center;
    width: 2%;

    &:first-of-type {
      text-align: left;
    }
  }

  tbody tr:last-of-type td {
    border-bottom: none;
  }

  &-header-link {
    color: $dark-gray;
    text-decoration: none;
  }
}
