.sbtci-table {
  border-collapse: collapse;
  display: table;
  table-layout: fixed;
  width: 100%;

  td,
  th {
    border: 1px solid $gray;
    padding: 10px 6px;

    &:first-of-type {
      border-left: none;
    }

    &:last-of-type {
      border-right: none;
    }
  }

  th {
    border-top: none;
    text-align: center;
    white-space: pre-line;
  }

  td {
    display: table-cell;
    text-align: center;
    width: 2%;

    &:first-of-type {
      text-align: left;
    }
  }

  tr {
    page-break-inside: avoid;
    page-break-after: auto
  }

  tbody tr:last-of-type td {
    border-bottom: none;
  }

  &--compact {
    font-size: 0.85rem;

    tr:nth-child(odd) td {
      background-color: #f6f6f6;
      -webkit-print-color-adjust: exact;
    }

    @include mobile-only {
      th {
        height: 120px;
        white-space: nowrap;

        > div {
          transform: rotate(-90deg) translate(-3.4rem, 1.4rem);
          transform-origin: bottom left;
        }
      }
    }
  }

  &-link {
    color: $dark-gray;
    text-decoration: none;

    &:focus,
    &:hover {
      color: $tf-blue;
      text-decoration: underline;
    }
  }

  &-change {
    color: $light-gray;
    font-family: monospace;
    font-size: 0.85rem;
    padding-left: 0.4rem;
  }

  @include tablet-up {
    &-sorted {
      cursor: pointer;
      position: relative;
      text-align: left;
    }

    &-sorted:after,
    &-sorted:before {
      border: 4px solid transparent;
      content: "";
      display: block;
      height: 0;
      right: 6px;
      top: 50%;
      position: absolute;
      width: 0;

      @include print-only {
        display: none;
      }
    }

    &-sorted:before {
      border-bottom-color: $light-gray;
      margin-top: -9px;
    }

    &-sorted:after {
      border-top-color: $light-gray;
      margin-top: 1px;
    }

    &-sorted--desc:after {
      border-top-color: $dark-gray;

    }

    &-sorted--asc:before {
      border-bottom-color: $dark-gray;
    }
  }

  &--condensed {
    @media only screen {
      height: 480px;
      overflow-y: hidden;
      position: relative;

      &:after {
        background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0) 65%,
        rgba(246, 246, 246, 1) 95%,
        rgba(246, 246, 246, 1)
        ) !important;
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 60px;
        z-index: 200;
        -webkit-print-color-adjust: exact;
      }

      &:before {
        background: transparent;
        bottom: 0;
        content: "Expand to see full list of rankings.";
        color: $gray;
        font-size: 1.2rem;
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;
        top: 450px;
        z-index: 300;
      }
    }
  }
}

.sbtci-full-state-name {
  display: inline;

  @include mobile-only {
    display: none;
  }
}

.sbtci-abbr-state-name {
  display: none;

  @include mobile-only {
    display: inline;
  }
}
