$tf-blue: #0094ff;
$sbtci-blue: #5fc2ff;
$dark-gray: #333333;
$gray: #999999;
$light-gray: #cccccc;

$font-size: 16px;
$radius: 4px;

html,
body {
  font-family: sans-serif;
  font-size: $font-size;
}

hr {
  background-color: $gray;
  border: none;
  color: $gray;
  height: 1px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}
