@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Oswald:300,400');

$tf-blue: #0094ff;
$sbtci-blue: #5fc2ff;
$dark-gray: #333333;
$gray: #999999;
$light-gray: #cccccc;
$twitter: #00b6f1;
$facebook: #3b5998;
$linkedin: #007bb6;
$email: #df4a32;

$font-size: 16px;
$radius: 4px;

html,
body {
  font-family: 'Lato', sans-serif;
  font-size: $font-size;
  font-weight: 400;
}

hr {
  background-color: $gray;
  border: none;
  color: $gray;
  height: 1px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}
