@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Oswald:300,400');

$tf-blue: #04897b;
$sbtci-blue: #4cb6ac;
$dark-gray: #333333;
$gray: #999999;
$light-gray: #cccccc;
$green: #00aa22;
$light-green: #89c589;
$twitter: #00b6f1;
$facebook: #3b5998;
$linkedin: #007bb6;
$email: #df4a32;

$font-size: 16px;
$radius: 4px;

* {
  box-sizing: border-box;
}

html,
body {
  color: $dark-gray;
  font-family: 'Lato', sans-serif;
  font-size: $font-size;
  font-weight: 400;

  @include print-only {
    background-color: #ffffff;
    color: #000000;
    font-size: 12px;
  }
}

hr {
  background-color: $gray;
  border: none;
  color: $gray;
  height: 1px;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  padding: 0 15px;

  &--narrow {
    @include tablet-up {
      max-width: 600px;
    }
  }
}

.sbtci {
  min-height: 100vh;

  @include tablet-up {
    display: grid;
    grid-template: 160px auto 234px / auto;
  }

  &-button {
    background-color: #00aa22;
    border: none;
    border-radius: $radius;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    padding: 0.6rem 1rem;
    text-align: center;
    text-decoration: none;

    @include mobile-only {
      margin-bottom: 1rem;
    }

    &--centered {
      display: block;
      margin: 1rem auto;
      max-width: 80%;

      @include tablet-up {
        max-width: 9rem;
      }
    }
  }
}

.hide-print {
  @include print-only {
    display: none !important;
  }
}

.mobile-only {
  @include tablet-up {
    display: none;
  }
}